<div class="sidebase"></div>
<div class="sidebar">
  <div class="setting">
    <img class="setting-btn" src="/img/icon/setting.svg" alt="">
  </div>

    <ul class="category-list scrollbar">
      {{#each category}}
      <li><a href="#{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>

    <div class="final-order">
      <h4>訂單 <span class="total-price">0</span>$</h4>
      <h6>last :</h6>
      <h5 class="last-order"></h5>
      <button class="check-btn">結帳/修改</button>
      <button class="clear-btn">清除訂單</button>
    </div>

</div>

<div class="menu">
  <div class="category">
    {{#each category}}
      <h2 id="{{this}}">{{this}}</h2>
      <div class="wrapper">
        {{#each ../product}}
          {{#filter ../this this}}
          <div class="wrap-item">
            <div class="card">
              <div class="product-name">{{ this.name }}</div>
              <div class="property">
                {{#each this.property}}<img class="property-img" src="{{ this }}" alt="">{{/each}}
              </div>
            </div>
          </div>
          {{/filter}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

{{!-- 點餐視窗 order window --}}
<div class="order-window">
  <div class="order-panel">
    <div class="order-product-title">
      <h1 class="order-product-name">產品名稱</h1>
      <h1 class="order-product-price">100$</h1>
    </div>
    
    <div class="flex-container">
      <div class="num-board">
        <div class="amount" style="grid-area:amount;">0</div>
        <button class="num-btn" style="grid-area:one;">1</button>
        <button class="num-btn" style="grid-area:two;">2</button>
        <button class="num-btn" style="grid-area:three;">3</button>
        <button class="num-btn" style="grid-area:four;">4</button>
        <button class="num-btn" style="grid-area:five;">5</button>
        <button class="num-btn" style="grid-area:six;">6</button>
        <button class="num-btn" style="grid-area:seven;">7</button>
        <button class="num-btn" style="grid-area:eight;">8</button>
        <button class="num-btn" style="grid-area:nine;">9</button>
        <button class="num-btn" style="grid-area:zero;">0</button>
        <button class="back-btn" style="grid-area:back;">
          <img class="backspace" src="/img/icon/backspace.svg" alt="">
        </button>
      </div>
      <div class="product-info">
        <div class="scrollbar material">
          <h3>食材</h3>
          <p>食材1、食材2、食材3、食材4</p>
        </div>
        <div class="scrollbar custom-group">
          <h3>客製</h3>
          <div>
            <input class="custom" type="checkbox" name="" id="加蛋">
            <label for="加蛋">加蛋 <span>10</span>$</label>
          </div>
          <div>
            <input class="custom" type="checkbox" name="" id="加起士">
            <label for="加起士">加起士 <span>10</span>$</label>
          </div>
          <div>
            <label for="note">備註</label>
            <input type="text" id="note">
          </div>
        </div>
        <div class="order-btn">
          <button class="order-it"><span class="order-total">0</span>$ 下單</button>
        </div>
      </div>
    </div>
    
  </div>
</div>

{{!-- 結帳視窗 check window --}}
<div class="check-window">
  <div class="check-panel">
    <div class="table-wrapper scrollbar">
      <table>
        <thead>
            <th>產品名稱</th>
            <th>數量</th>
            <th>價錢</th>
            <th>移除</th>
        </thead>
        <tbody class="order-list">
          
        </tbody>
      </table>
    </div>

    <button class="bill"><span class="bill-price">0</span>$ 結帳</button>
  </div>
</div>